@import '~antd/dist/antd.css';

html,
body,
#root {
  height: 100%;  
  font-size: 14px;
}
body{
  background-color: #f0f2f5;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  height:100%;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
iframe {
  display: none;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
