/**
 * data-grid样式
 */
.grid-box{
    padding:white;
    font-size: 12px;
}

.grid-box .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th {
    background-color: #f3f3f3;
}
.grid-box .ant-table-small > .ant-table-content > .ant-table-body {
    margin:0 0;
}
/**
 * form 样式
 */
.grid-form{
    border-radius: 4px;
}
.ant-layout a.item-a{
    margin:0px 4px;
}
.ant-layout a.item-a i{
    color:#999999;
}
.ant-layout a.item-a i:hover{
    color:#1890ff;
}
.ant-layout a.delete i:hover{
    color:red;
}
.grid-box .ant-table-small.ant-table-bordered .ant-table-footer{
    border-right:none;
    padding:6px 8px;
}
/**
 * view 样式
 */
.view-box{
    padding:8px 14px;
}
.view-box label{
    margin-right:10px;
}
.view-box span{
    color:#999999;
}
.view-box .ant-row{
    padding:6px 0px;
}